/* Auth.css */


.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #000000, #1b1b2f, #0f0c29, #24243e, #302b63, #2c3e50, #ff0080, #e100ff, #fc6767, #000000);
    animation: lightLeakDark 15s ease infinite;

  }
  
  .auth-card {
    background: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Stronger shadow for depth */
    max-width: 400px;
    width: 100%;
    animation: fadeInBlur 3s ease forwards;  /* Blur effect for content */
    opacity: 0;
  }
  
  @keyframes lightLeakDark {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes fadeInBlur {
    0% {
      opacity: 0;
      filter: blur(10px);  /* Starts blurred */
    }
    100% {
      opacity: 1;
      filter: blur(0);  /* Ends with no blur */
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .auth-card h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .auth-card h3 {
    margin-top: 1rem;
    color: #555;
  }
  
  .auth-form input {
    width: 100%;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    background: linear-gradient(to right, #f9f9f9, #fff);
    transition: all 0.3s ease;
  }
  
  .auth-form input:focus {
    border: 1px solid #4caf50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
    outline: none;
    background: #fff;
  }
  
  .auth-form input::placeholder {
    color: #aaa;
    font-style: italic;
    opacity: 0.8; /* Slightly transparent placeholder */
  }
  
  .instrument-selection {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }
  
  .instrument-button {
    flex: 1;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Added transform */
  }
  
  .instrument-button.selected {
    background-color: #45a049; /* Darker green for selected */
  }
  
  .instrument-button:hover {
    background-color: #45a049;
    transform: translateY(-2px); /* Lift effect on hover */
  }
  
  .instrument-feedback {
    text-align: center;
  }
  
  .instrument-name {
    font-weight: bold;
    color: #4caf50;
  }
  
  .btn-submit {
    width: 100%;
    padding: 0.75rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Added transform */
  }
  
  .btn-submit:hover {
    background-color: #45a049;
    transform: translateY(-2px); /* Lift effect on hover */
  }
  
  @media (max-width: 480px) {
    .auth-card {
      padding: 1.5rem;
    }
    
    .auth-form input {
      padding: 0.5rem;
      font-size: 14px;
    }
  }
  

  .inp1 {
    width: 55%;
    height: 45px;
    line-height: 30px;
    padding-left: 3rem;
    margin: 3%;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: dotted;
    background-color: #f8fafc;
    color: #0d0c22;
    transition: .5s ease;
  }
  
  .inp1::placeholder {
    color: #94a3b8;
  }
  
  .inp1:focus, inp1:hover {
    outline: none;
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
  }
  

  .inp2 {
    width: 55%;
    height: 45px;
    line-height: 30px;
    padding-left: 3rem;
    border: 2px solid transparent;
    margin: 3%;
    border-radius: 10px;
    outline: dotted;
    background-color: #f8fafc;
    color: #0d0c22;
    transition: .5s ease;
  }
  
  .inp2::placeholder {
    color: #94a3b8;
  }
  
  .inp2:focus, inp2:hover {
    outline: none;
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
  }
  
  .video-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 20px;
    margin: 10px 0;
  }
  
  .progress {
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
    transition: width 0.5s ease;
  }
  

.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }



  .inp3 {
    width: 55%;
    height: 45px;
    line-height: 30px;
    padding-left: 3rem;
    border: 2px solid transparent;
    margin: 3%;
    border-radius: 10px;
    outline: dotted;
    background-color: #f8fafc;
    color: #0d0c22;
    transition: .5s ease;
  }
  
  .inp3::placeholder {
    color: #94a3b8;
  }
  
  .inp3:focus, inp3:hover {
    outline: none;
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
  }






.button-30 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #62ff5a 0, #ffeb54 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 40, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

