/* src/styles.css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa; /* Light background color */
  }
  
  h2 {
    font-size: 2rem;
  }
  
  button {
    cursor: pointer;
  }
  